#!/bin/bash

# home-manager directory hash: {{ output "sh" "-c" (printf "find %s/dot_config/home-manager -type f -print0 | xargs -0 sha256sum | sort | sha256sum" .chezmoi.sourceDir) }}

nix run nixpkgs#home-manager -- switch --flake ~/.config/home-manager

