/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@import "./catppuccin-mocha.theme.css";

@define-color highlight #685878;
@define-color warning-bg rgba(255, 200, 200, 0.7);
/* #ffc8de */
@define-color warning-text rgba(51, 40, 40, 1);
/* #33282c */

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: @text;
  }

  to {
    color: @text;
    background-color: @red;
  }
}

/* Reset all styles */
* {
  all: unset;
}

#waybar,
tooltip,
menu {
  border: 2px solid @surface0;
  border-radius: 5px;
  color: @text;
  font-size: 16px;
  font-family: JetBrainsMono;
  background-color: alpha(@base, 0.85);
}

#waybar {
  border-radius: 0 0 5px 5px;
  border-top: none;
}

menu {
  padding: 5px;
  border-color: @surface1;
}

#custom-launcher {
  padding: 0 0.5rem;
}

#workspaces button {
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

#workspaces button:hover {
  background-color: alpha(@subtext0, 0.2);
}

#workspaces button.active {
  color: @surface0;
  background-color: @teal;
}

#workspaces button.urgent {
  color: @warning-text;
  background-color: @warning-bg;
}

#window {
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid currentColor;
  padding: 0 0.3rem;
  margin: 0.2rem;
}

#tray {
  padding: 0.5rem 0;
}

#custom-power {
  padding: 0 0.7rem;
  font-size: 1.2rem;
}



#network.disconnected {
  color: orange;
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: @red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
  padding-left: 5px;
  padding-right: 5px;
}

#pulseaudio {}

#pulseaudio.muted {
  color: @highlight;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: @maroon;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}
