/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@define-color highlight    #685878 ;
@define-color primary-bg   rgba( 42,  42,  42, 0.5); /* #2a2a2a */
@define-color primary-text rgba(212, 212, 212,   1); /* #d4d4d4 */
@define-color active-bg    rgba(200, 255, 200, 0.7); /* #c8ffc8 */
@define-color active-text  rgba( 40,  51,  40,   1); /* #283328 */
@define-color warning-bg   rgba(255, 200, 200, 0.7); /* #ffc8de */
@define-color warning-text rgba( 51,  40,  40,   1); /* #33282c */


@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* Reset all styles */
* {
    all: unset;
}

#waybar {
    color: @primary-text;
    background-color: @primary-bg;
    font-family: JetBrainsMono;
    font-size: 16px;
}

#custom-launcher {
    padding: 0 0.5rem;
}

#workspaces button {
    color: @primary-text;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
    color: @active-text;
    background-color: @active-bg;
}

#workspaces button.urgent {
    color: @warning-text;
    background-color: @warning-bg;
}

#window {
    font-size: 0.8rem;
    font-weight: bold;
    border-bottom: 1px solid currentColor;
    padding: 0 0.3rem;
    margin: 0.2rem;
}

#tray {
    padding: 0.5rem 0;
}

#custom-power {
    padding: 0 0.7rem;
    font-size: 1.2rem;
}



#network.disconnected {
    color: orange;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#backlight.icon {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: @highlight;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}
