/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@import "./catppuccin-mocha.theme.css";

@keyframes blink-warning {
  from {
    color: @yellow;
  }

  to {
    color: @base;
    background-color: @yellow;
  }
}

@keyframes blink-critical {
  from {
    color: @red;
  }

  to {
    color: @base;
    background-color: @red;
  }
}

#waybar,
tooltip,
menu {
  color: @text;
  font-family: "Symbols Nerd Font Mono", "JetBrains Mono";
  background-color: alpha(@base, 0.85);
}

#waybar {
  border: 2px solid @surface0;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-size: 16px;
}

tooltip,
menu {
  border-color: @surface1;
  font-size: 15px;
}

#custom-launcher {
  padding: 0 0.5rem;
}

#workspaces button {
  all: unset;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

#workspaces button:hover {
  background-color: alpha(@overlay2, 0.2);
}

#workspaces button.active {
  color: @base;
  background-color: @teal;
}

#workspaces button.urgent {
  color: @base;
  background-color: @maroon;
}

#window {
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 0 0.3rem;
  margin: 0.2rem;
}

#network.disconnected {
  color: @yellow;
}


#cpu.warning {
  color: @yellow;
}

#cpu.critical {
  color: @red;
}

#memory.warning {
  color: @yellow;
}

#memory.critical {
  animation: blink-critical 2s linear infinite alternate;
  padding: 0 0.5rem;
}

#pulseaudio.muted {
  color: @overlay1;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#battery.warning.discharging {
  animation: blink-warning 3s linear infinite alternate;
  padding: 0 0.5rem;
}

#battery.critical.discharging {
  animation: blink-critical 2s linear infinite alternate;
  padding: 0 0.5rem;
}

#tray {
  padding: 0.5rem 0;
}

#custom-power {
  padding: 0 0.7rem;
}
